{% extends 'base.html'%}

{% block content %}
	<div class ="container">
		<p>Hello</p>
		<div class ="panel panel-primary">
			<div class ="panel-heading">My Profile </div>
			<div class ="panel-body">
				<div class="form-group">
					<label for ="reg_no">Roll No. : </label> 
					<label for ="name">Name : </label> 
					<label for ="address">Address : </label> 
					<label for ="reg_no">Roll No. : </label>
				</div>

				<div class = "button">
					<input type = "submit" class= "btn btn-success" value="Register">
				</div>

{% endblock %}